<nav class="navbar navbar-default custom_top_nav">
	<div class="container-fluid">
	  <div class="navbar-header">
	  	<a class="navbar-brand" href="/">Update Status</a>
	  	<a class="navbar-brand" href="/profile">Profile</a>
	  	<a class="navbar-brand" href="#">Messages</a>
	  	<a class="navbar-brand" href="#">Notifications</a>
	  	<a class="navbar-brand" href="#">Friends</a>

	  </div>
  	</div>
</nav>