<!DOCTYPE html>
<html>
	<head>
		<title> dreamteam | Profile </title>
		<link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
	    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css.map' />
	    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
	    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css.map' />
	    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	    <link rel='stylesheet' href='/stylesheets/bootstrap.css.map' />
	    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css.map' />

	    <link rel='fonts' href='/fonts/glyphicons-halflings-regular.eot' />
	    <link rel='fonts' href='/fonts/glyphicons-halflings-regular.svg' />
	    <link rel='fonts' href='/fonts/glyphicons-halflings-regular.ttf' />
	    <link rel='fonts' href='/fonts/glyphicons-halflings-regular.woff' />
	    <link rel='fonts' href='/fonts/glyphicons-halflings-regular.woff2' />

	    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		{{>navbar}}
		<div class="page">
		<br>
		<div class="container">
		<div class="row">
		<div class= "col-xs-3">
			<div class= "profpic">
				<img src="pics/connie.jpg" class="profpic">
			</div>
		</div>
		<div class= "col-xs-9">
			<h1> Connie Liu </h1>
			<div class= "status">
				<h5> Just got back from BTDubs! [Boba Tea Wednesday!] Life couldn't be better =] <h5 class="timestamp"> 2 hrs ago </h5></h5>
			</div>
		</div>
		</div>
		<div class="row">
			<h3> Graph </h3>
			<div id="graph"><input type="image" src="pics/graph.png" id="graph"></div>
			<h3> </h3>
			<div id="wordle">
				{{#each moods}}
				<h3>{{mood}}</h3>
				{{/each}}
			</div>
		</div>
		</div>
		</div>

	</body>
