<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css.map' />
      <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css.map' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.css.map' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css.map' />

      <link rel='fonts' href='/fonts/glyphicons-halflings-regular.eot' />
      <link rel='fonts' href='/fonts/glyphicons-halflings-regular.svg' />
      <link rel='fonts' href='/fonts/glyphicons-halflings-regular.ttf' />
      <link rel='fonts' href='/fonts/glyphicons-halflings-regular.woff' />
      <link rel='fonts' href='/fonts/glyphicons-halflings-regular.woff2' />

      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="/js/ajax.js"></script>
  </head>
  <body>
    {{>navbar}}
    <div class="jumbotron">
      <div class="space"></div>
      <div class ="vertical-center">
      <form name="submitmood" method="post" action="/submitmood">
    	<!-- INSERT CARTOONY SUNNY/MOONLIT BACKGROUND DEPENDING ON TIME OF DAY -->
        <h1 class="display-2 feeling">How are you feeling today?</h1><br><br>
      	<center><input type="text" id="mood" class="center"><br></center>
        <br>

        <div class> <!-- EMOJIS -->
        <center><button type="submit"><input type="image" src="pics/content.png" name="emoji" class="btn btn-default" id="emoji" ></button>
        <button type="submit"> <input type="image" src="pics/excited.png" name="emoji" class="btn btn-default" id="emoji" /></button>
        <button type="submit"> <input type="image" src="pics/sad.png" name="emoji" class="btn btn-default" id="emoji" /></button>
        <button type="submit"><input type="image" src="pics/tired.png" name="emoji" class="btn btn-default" id="emoji" /></button>
        <button type="submit"> <input type="image" src="pics/worried.png" name="emoji" class="btn btn-default" id="emoji" /></button>
      </center>
      <!-- emoticon input: <input type="emoticon"> -->
        </div>
        </form>

      </div>
      
    </div>
    

    
  </body>
</html>