body {
	font-family: sans-serif;
	overflow: auto;
}
h1 {
	margin: 10px;
}
ul {
	width: 250px;
	background-color: #ffffff;
	margin: 10px;
	padding: 10px;
	border: black solid 1pt;
	list-style-type: none;
}
li{
	font-weight: bold;
	margin: 10px;
}

.profpic {
	height: 10em;
	overflow: auto;
}
#graph {
	height: 20em;
	background-color: #bdc3c7;
}
#wordle {
	height: 20em;
	background-color: #1abc9c;
}
.navbar-icon {
	float: right;
}
.page {
	background-color: #ecf0f1;
	height: 100%;
}
.timestamp {
	color:#1abc9c;
}
.status {
	display: inline;
}