body {
	font-family: sans-serif;
	overflow: auto;
}

ul {
	width: 250px;
	background-color: #ffffff;
	margin: 10px;
	padding: 10px;
	border: black solid 1pt;
	list-style-type: none;
}
li{
	font-weight: bold;
	margin: 10px;
}

.turquoise{
	color:#1abc9c;

}
.white{
	color: white !important;
}

.profpic {
	height: 10em;
	overflow: auto;
}

#emoji {
	height:4em;
}

.feeling {
	margin: 10px;
	text-align: center;
	color: #757D75 !important;
}

#graph {
	height: 20em;
	background-color: #bdc3c7;
	overflow: auto;
}

#wordle {
	min-height: 20em;
	background-color: #1abc9c;
}

.jumbotron {
	background: url("../pics/clouds.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	height: 100vh;
}

#mood {
	font-size: 63px !important;
	border: 0;
    outline: 0;
    background: transparent !important;
    border-bottom: 2px solid gray;
}

.navbar-icon {
	float: right;
}
.page {
	background-color: #ecf0f1;
	height: 100%;
}
.round {
  border-radius: 20px;
}
.space{
	height: 35%;
}
.status {
	display: inline;
}
.timestamp {
	color:#1abc9c;
}

.vertical-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
}

#wordle {
	height: 20em;
	background-color: #1abc9c;
}

.logo-center{
		height: 10em;
	overflow: auto;
  border:inherit 8px #000000;
  -moz-border-radius-topleft: 75px;
  -moz-border-radius-topright:75px;
  -moz-border-radius-bottomleft:75px;
  -moz-border-radius-bottomright:75px;
  -webkit-border-top-left-radius:75px;
  -webkit-border-top-right-radius:75px;
  -webkit-border-bottom-left-radius:75px;
  -webkit-border-bottom-right-radius:75px;
  border-top-left-radius:75px;
  border-top-right-radius:75px;
  border-bottom-left-radius:75px;
  border-bottom-right-radius:75px;
}

.logo-center-two {
	border-top-left-radius: 500px;
}
.background {
	height:100%;
	width:100%;
}